page-tab1 {

    .navbarlogo{
        width:50px;
    }
    .sport_name{
        margin-top: -50px;
        text-align: center;
        z-index: 99;
        font-size: 20px;
        color: white;
        font-weight: 900;
    }
    .image_column{
        width: 100% !important;
        height: 100% !important;
        margin-left: 0px !important; 
        margin-right: 0px !important; 
    }
    
}
